* {
    margin: 0;
    padding: 0;
    /* border: 2px solid green; */
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Kanit', sans-serif;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER */
.header-sec {
    padding: 2rem 1rem;
    background-color: #1C1847;
    color: #EEE7E6;
    min-height: 5rem;
}

/* MAIN */
.main-sec {
    background-color: #EEE7E6;
    justify-content: unset;
    height: 70vh;
}

.validator-container {
    background-color: #EC2322;
    /* color: #EEE7E6; */
    min-width: 280px;
    height: 15rem;
    margin: 5rem auto;
    padding-bottom: 3rem;
    text-align: left;
}

.phone-label {
    font-size: 1.3rem;
    color: black;
}

.input-el {
    background-color: #EEE7E6;
    margin: 10px 0;
    min-width: 200px;
    padding: 5px 0;
    border: 2px solid black;
}

#result-wrapper {
    min-width: 200px;
    padding: 5px 0;
    height: 20px;
    text-align: center;
    margin-top: 10px;
    background-color: #EEE7E6;
}

/* FOOTER */
.footer-sec {
    background-color: #1C1847;
    color: #EEE7E6;
    min-height: 3.5rem;
}

.footer-link {
    text-decoration: none;
    color: #d3c5c3;
}