* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER */
.header-sec {
    padding: 2rem 1rem;
    background-color: aqua;
}

/* MAIN */
.main-sec {
    background-color: antiquewhite;
    min-height: 80vh;
}

.validator-container {
    background-color: blue;
    max-width: 250px;
    height: 15rem;
    margin: 0 auto;
}

